<h1>FGAbirintos</h1>
<h3>Seja muito bem vindo!!</h3>
</br>
<p>Esse site te possibilita gerar e solucionar labirintos!!</p>
<p>Todo o projeto pode ser encontrado em: <%= link_to "github", "https://gitlab.com/Joao_Henrique/fgabirintos"  %></p>
